<div class="wrapper-login">
    <div class="header-login">
        <div class="content-login">
            <div class="logo-login"><a href="javascript:void(0)" class="logo-page">Logo</a></div>
            <!-- AgilityIO guide: add ".error-state" class to display notify when enter wrong username or password-->
            <div class="form-login" ng-class="{'error-state': errorMessage}">
                <div class="notify">
                    <p>{{errorMessage}}</p>
                </div>
                <div class="form">
                    <form role="form">
                        <div ng-if="credential ==='password'">
                            <h2 class="form-signin-heading">Forgot Password</h2>

                            <div class="form-group">
                                <label for="username" class="sr-only">Username</label>
                                <input type="text" id="username" name="username" placeholder="Username" class="form-control" ng-model="username" required autofocus/>
                            </div>
                            <div class="form-group">
                                <label for="email" class="sr-only">Password</label>
                                <input type="text" id="email" name="email" placeholder="Email address" class="form-control" ng-model="email" required/>
                            </div>
                            <button type="submit" class="btn btn-primary btn-rollover" ng-click="requestForCredentials(email, username)">Submit</button>
                        </div>

                        <div ng-if="credential ==='username'">
                            <h2 class="form-signin-heading">Forgot Username</h2>

                            <div class="form-group">
                                <label for="email" class="sr-only">Password</label>
                                <input type="text" id="email" name="email" placeholder="Email address" class="form-control" ng-model="email" required/>
                            </div>
                            <button type="submit" class="btn btn-primary btn-rollover" ng-click="requestForCredentials(email)">Submit</button>
                        </div>
                        <span ng-if="credential ==='success'">
                            <span class="success-span">Your request submitted successfully. Please check your email.</span>
                            <a class="btn btn-lg btn-primary btn-block" href="/">OK</a>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-login">
        <div class="wrapper-footer">
            <div class="copyright">
                <p><a href="javascript:void(0)">Terms and Conditions</a><span> Use of Bridge and this Web site constitutes acceptance of our Terms of Use and Privacy Policy. &copy; 2015</span>
                </p>
            </div>
        </div>
    </div>
</div>

