<section data-ng-controller="userCtrl">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <form>
                <div class="form-group">
                    <label for="unsuccessful_login_attempts">Unsuccessful login attempts</label>
                    <input type="number" class="form-control" id="unsuccessful_login_attempts"
                           min="1" max="20" value="5">
                </div>
                <div class="form-group">
                    <label for="unsuccessful_login_attempts_1">Unsuccessful login attempts</label>
                    <select class="form-control" id="unsuccessful_login_attempts_1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</section>